* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #6c5519;
}
.Header ul {
  background-color: #c7a970;
  height: 5vh;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: none;
}

ul {
  list-style: none;
}
ul li a {
  color: #6c5519;
}
a:hover {
  color: white;
}
